html,
body {
  font-family: var(--inter);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #939292;
}
